*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Lato", sans-serif;

  --nav-height: 3rem;
}

/* Navigation */
nav {
  position: fixed;
  width: 100vw;
  height: min-content;
  background-color: rgba(26, 25, 88, 0.911);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

nav ul {
  display: flex;
  transform: scaleY(1);
  list-style: none;
  color: rgb(248, 246, 246);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(26, 25, 88, 0.911);
  width: 100%;
  margin-top: var(--nav-height);
  transition: transform 300ms;
  transform-origin: top;
}

nav li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  transition: color 250ms;
}

nav li a {
  text-decoration: none;
  color: white;
}

nav li a:hover {
  color: rgb(91, 223, 216);
}

.hamburger {
  cursor: pointer;
  /* justify-self: end; */
  align-self: flex-end;
  margin-right: 3rem;
  /* position: absolute;
  right: 50px;
  top: 14px; */
}
.hb-line {
  height: var(--nav-height);
  background-color: white;
  height: 3px;
  margin-bottom: 5px;
  width: 30px;
  border-radius: 5px;
}

/* Hero Section */

#welcome-section {
  height: 100vh;
  padding-top: var(--nav-height);
  /* background: linear-gradient(
      to top right,
      rgb(149, 171, 233),
      rgb(128, 156, 235),
      rgb(68, 130, 167)
    ); */
  background: linear-gradient(
    to top right,
    rgba(44, 44, 44, 0.932),
    rgba(31, 31, 31, 0.938)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome-section h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 0.5rem;
}
#welcome-section h3 {
  width: 60vw;
  text-align: center;
  line-height: 1.4;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(145, 138, 245);
}

/* Work Section */

#projects {
  height: 150vh;
}

.display-none {
  transform: scaleY(0);
}
.display-flex {
  transform: scaleY(1);
}
