*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Lato", sans-serif;

  --nav-height: 3rem;
}

/* Navigation */

nav {
  background-color: rgba(26, 25, 88, 0.911);
  height: fit-content;
}

.hamburger-wrapper {
  width: 100vw;
  height: var(--nav-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.hamburger {
  cursor: pointer;
  margin-right: var(--nav-height);
}
.hb-line {
  background-color: white;
  height: 3px;
  margin-bottom: 5px;
  width: 30px;
  border-radius: 5px;
}
.hb-line:last-of-type {
  margin-bottom: 0;
}

.nav-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  transform-origin: top;
}

.nav-link-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.nav-link a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  transition: color 250ms;
}

.nav-link a:hover {
  color: rgb(91, 223, 216);
}

.show-nav {
  transform: scaleY(1);
}
.hide-nav {
  transform: scaleY(0);
  /* display: none; */
}
