*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;

  --nav-height: 3rem;
}

/* 
****** Navigation ******
*/
nav {
  position: fixed;
  z-index: 99;
}

.hamburger-wrapper {
  width: 100vw;
  height: var(--nav-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(26, 25, 88, 0.911);
}
.hamburger {
  cursor: pointer;
  margin-right: var(--nav-height);
}
.hb-line {
  background-color: white;
  height: 3px;
  margin-bottom: 5px;
  width: 30px;
  border-radius: 5px;
}
.hb-line:last-of-type {
  margin-bottom: 0;
}

.nav-link-wrapper {
  background-color: rgba(26, 25, 88, 0.911);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  transform-origin: top;
}

.nav-link-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.nav-link a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  transition: color 250ms;
}

.nav-link a:hover {
  color: rgb(91, 223, 216);
}

.show-nav {
  transform: scaleY(1);
}
.hide-nav {
  transform: scaleY(0);
}

/* 
****** Hero Section ******
*/
#welcome-section {
  height: 100vh;
  padding-top: var(--nav-height);
  /* background: linear-gradient(
    to top right,
    rgb(149, 171, 233),
    rgb(128, 156, 235),
    rgb(68, 130, 167)
  ); */
  background: linear-gradient(
    to top right,
    rgba(49, 49, 49, 0.884),
    rgb(24, 24, 24)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 25px 10px rgba(26, 26, 26, 0.781);
  position: relative;
  z-index: 3;
}

#welcome-section h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 0.5rem;
}
#welcome-section h3 {
  width: 60vw;
  text-align: center;
  line-height: 1.4;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(145, 138, 245);
}

/* 
****** Work Section ******
*/
#projects {
  padding-top: var(--nav-height);
  background: linear-gradient(
    to right bottom,
    rgb(12, 124, 91),
    rgb(55, 206, 118)
  );
  z-index: 2;
  position: relative;
  box-shadow: 0px 10px 25px 10px rgba(26, 26, 26, 0.781);
}

.project-tiles-wrapper {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr minmax(280px, 3fr) 1fr;
  row-gap: 1.5rem;
}

.left-tile {
  grid-column: 2 / span 1;
}
.right-tile {
  grid-column: 2 / span 1;
}

.project-tile {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 0.5rem;
  box-shadow: 12px 12px 15px 2px rgba(0, 0, 0, 0.466);
}

.project-image img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
}

.project-title {
  margin-top: 0.4rem;
  padding: 0.6em;
  border-radius: 0.5em;
  font-size: 1.1rem;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.596),
    rgba(255, 255, 255, 0.945)
  );
  text-align: center;
}

.project-tile a,
.project-tile a:link,
.project-tile a:visited {
  font-weight: 600;
  text-decoration: none;
  color: rgb(27, 27, 27);
  transition: color 250ms;
}

.project-tile a:hover,
.project-tile a:active {
  color: rgb(41, 179, 133);
}

/* 
****** Contact Section ******
*/

#contact-section {
  padding: 5rem 0 2rem 0;
  background: linear-gradient(
    to right bottom,
    rgb(38, 123, 192),
    rgb(5, 101, 114)
  );
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  position: relative;
  z-index: 1;
}

.contact-item {
  background-color: rgba(173, 216, 230, 0.89);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.left {
  grid-column: 2 / span 1;
}

.right {
  grid-column: 3 / span 1;
}

.contact-item i {
  display: inline-block;
  font-size: 2rem;
  color: rgb(10, 48, 99);
  transition: color 250ms;
}

.contact-item a,
.contact-item a:link,
.contact-item a:visited {
  font-size: 1.1rem;
  display: inline-block;
  text-decoration: none;
  color: rgb(10, 48, 99);
  transition: color 250ms;
}

/* 
****** Media Queries ******
*/

@media only screen and (min-width: 800px) {
  .project-tiles-wrapper {
    grid-template-columns: 1fr minmax(300px, 2fr) minmax(300px, 2fr) 1fr;
    column-gap: 2rem;
  }
  .left-tile {
    grid-column: 2 / span 1;
  }
  .right-tile {
    grid-column: 3 / span 1;
  }
}
