*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Lato", sans-serif;

  --nav-height: 3rem;
}

/* Navigation */

nav {
  position: fixed;
}

.hamburger-wrapper {
  width: 100vw;
  height: var(--nav-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(26, 25, 88, 0.911);
}
.hamburger {
  cursor: pointer;
  margin-right: var(--nav-height);
}
.hb-line {
  background-color: white;
  height: 3px;
  margin-bottom: 5px;
  width: 30px;
  border-radius: 5px;
}
.hb-line:last-of-type {
  margin-bottom: 0;
}

.nav-link-wrapper {
  background-color: rgba(26, 25, 88, 0.911);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  transform-origin: top;
}

.nav-link-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.nav-link a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  transition: color 250ms;
}

.nav-link a:hover {
  color: rgb(91, 223, 216);
}

.show-nav {
  transform: scaleY(1);
}
.hide-nav {
  transform: scaleY(0);
}

/* Hero Section */

#welcome-section {
  height: 100vh;
  padding-top: var(--nav-height);
  /* background: linear-gradient(
    to top right,
    rgb(149, 171, 233),
    rgb(128, 156, 235),
    rgb(68, 130, 167)
  ); */
  background: linear-gradient(
    to top right,
    rgba(49, 49, 49, 0.884),
    rgb(24, 24, 24)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome-section h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 0.5rem;
}
#welcome-section h3 {
  width: 60vw;
  text-align: center;
  line-height: 1.4;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(145, 138, 245);
}

/* Work Section */

#projects {
  height: 150vh;
}
